<h1 class="display-4 animate__animated animate__fadeInTopLeft">Desarrollador</h1>
<hr>

<div class="foto">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/imgs/personal.jpg" class="card-img-top" alt="...">
        <div class="card-body animate__animated animate__bounceInLeft">
            <h5 class="card-title">Joan Alexander Carrillo Tenesaca</h5>
            <p class="card-text">Curso: 5to Semestre</p>
            <p class="card-text">Materia: Tecnologias Web</p>
            <p class="card-text">Lector De Comics</p>
            <p class="card-text">Creador de Historietas</p>
            <p class="card-text">Contenido Principal: Marvel Comics y DC Comics</p>
        </div>
    </div>
</div>

<div class="imagen animate__animated animate__bounceInUp">
    <img src="../../../assets/imgs/643711f52857f375e24bcb14942a0cd6.jpg" class="rounded float-start" width="400px" height="400px" alt="...">
    <img src="../../../assets/imgs/7670a67a62d448ee30f7b808659b6966.jpg" class="rounded float-end" width="400px" height="400px" alt="...">
</div>


<style>
    .foto {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>